header {
	position:sticky;
	top:0;
	left:0;
	right:0;
}

footer {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

section#ui {
	position: absolute;
	left: 0.5em;
	right: 0.5em;
	top: 3.25em;
	bottom: 3em;

	display:flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: stretch;
	gap: 0.5em;
}

section#ui > div { 
	flex: 1; 
	position:relative; 
}

section#ui.normal > div#output,
section#ui.normal > div#help { 
	flex: 2; 
}

section#ui.original > div#original { flex: 20; }
section#ui.recipe > div#recipe { flex: 20; }
section#ui.output > div#output { flex: 20; }
section#ui.output > div#help { flex: 20; }

/* Hide the toolbars of non-focus'd panes */
section#ui.original > div#recipe .hideonwide, 
section#ui.original > div#output .hideonwide,
section#ui.recipe > div#original .hideonwide, 
section#ui.recipe > div#output .hideonwide, 
section#ui.output > div#original .hideonwide, 
section#ui.output > div#recipe .hideonwide
{ display:none; }

textarea {
	position: absolute;
	top: 2.5em;
	bottom: 0;
	left: 0;
	right: 0;
	resize: none;
}

div.toolbar {
	position: absolute;
	right: 0.5em;
	top: 0.5em;	
}

header > div.toolbar {
	right: 1em;
    top: 1.25em;
}

.scrollpane {
	overflow: auto;
	position: absolute;
	top: 2em;
	bottom: 0em;
	left: 0.5em;
	right: 0em;
}