/* Establish the font and remove the page margins */
body {
	font-family: "Karla", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	background-color: #fafafa;
}

header {
	border-bottom: 1px solid #e8e8e8;
	padding: 1em;
	background-color: #fff;
}

footer {
	padding: 1em;
}

section#ui > div {
	border: 1px solid #e0e0e0;
	background-color: #fff;
	padding: 0.5em;
	color: #888;
}

textarea {
	border: 0;
	font-family: inherit;
	font-size: inherit;
	padding: 0.5em;
	font-family: "Sono", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

textarea.wrap {
	text-wrap: nowrap;
}

a.button {
	background-color: #36c;
	padding: 0.1em 0.5em;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
}

a.button.wrap {
	background-color: #123;
}

a.button:hover {
	background-color: #236;
	color: #fff;
}

.hidden {
	display: none;
}

div.mono {
	font-family: "Sono", sans-serif;
}

div.mono ul {
	list-style-type: none;
	padding-inline-start: inherit;
	line-height: 1.3em
}

div#help {
	overflow: auto;
}
div#help > div {
	position: absolute;
}
div#help > div.toolbar {
	position: sticky;
	top: 0;
	right: 0;
	left: 50%;
	width: 50%;
	text-align: right;
	z-index: 1;
}
div#help > div.toolbar > a {
	background-color: #fff;
	padding: 0.25em;
}

div#help > div.text,
div.mono {
	color: #000;
}
div#help > div.text h4,
div#help > div.text p {
	margin: 0;
	margin-left: 0.5em;
}
div#help > div.text p {
	margin-bottom: 1em;
}
div#help > div.text p.see-also {
	font-size: 90%;
	color: #888;
	margin: -0.75em 0 1em 1em;
}

hr {
	border: 1px solid #f0f0f0;
}

header div.toolbar a.button {
	margin-left: 2em;
}